<h2>About</h2>

<h3>MyHomeBank App Prototype</h3>

<p>The goal of this app is to allow a parent to create a virtual home bank for his/her kid(s) as a tool to teach kids about finance (the power of compounding to start).</p>

<p>Kids will be able to make deposits or withdrawals to its account. All transactions must be approved by parent. Account balance will show the deposits and withdrawals and earned interest.</p>


<p><%= link_to 'Back', home_index_path %></p>