<h2>Accounts</h2>

<table table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th>Bank</th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= link_to account.ac_name, account %></td>
   	<td><%= account.kid.k_name if account.kid %></td>
   	<td><%= account.bank.b_name if account.bank %></td>
	 <td><%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>

</table>
